.vs/
bin/
OntoNewHorizons/
DDB/
Rainfall/bin/
Rainfall/obj/
Rainfall2D/bin/
Rainfall2D/obj/
Rainfall3D/bin/
Rainfall3D/obj/
RainfallNative/bin/
RainfallNative/obj/
RainfallNative/lib/
RainfallResourceCompiler/bin/
RainfallResourceCompiler/obj/
RainfallResourceCompiler/lib/
RainfallEditor/bin/
RainfallEditor/obj/
RainfallEditor/res/*.bin
DungeonGame/bin/
DungeonGame/obj/
DungeonGame/builds/
VoxelEngine/obj/
VoxelEngine/bin/
IvoryKeep/bin/
IvoryKeep/obj/
TopDownTest/bin/
TopDownTest/obj/
MumbleWizard/bin/
MumbleWizard/obj/
PixelEngine/bin/
PixelEngine/obj/
PixelEngine/res/asset_table
SoulKnight/bin/
SoulKnight/obj/
ParallaxRenderer/bin/
ParallaxRenderer/obj/