Left = [ A, GamepadLeft ]
Right = [ D, GamepadRight ]
Up = [ W, GamepadUp ]
Down = [ S, GamepadDown ]
Jump = [ Space, GamepadA ]
Sprint = [ Shift ]
Interact = [ E, GamepadX ]
Attack = [ J, M1, GamepadBumperR ]
Attack2 = [ K, M2, GamepadBumperL ]
UseItem = [ F, GamepadThumbL ]
SwitchItem = [ L, GamepadY, ScrollDown ]
SwitchSpell = [ I, GamepadB, ScrollUp ]
Inventory = [ Tab ]
UIConfirm = [ E ]
UIConfirm2 = [ F ]
UIBack = [ Q ]
UIQuit = [ Esc ]
UILeft = [ Left ]
UIRight = [ Right ]
UIUp = [ Up ]
UIDown = [ Down ]