Left = KeyA
Right = KeyD
Forward = KeyW
Back = KeyS

Jump = [Space, ScrollUp]
Sprint = LeftShift
Crouch = KeyC
Walk = LeftAlt
Dodge = LeftShift

Use = KeyF
Interact = KeyE
Drop = KeyG

Action0 = [M1, KeyU]
Action1 = [M2, KeyO]

ActionModifier = LeftCtrl

SwitchWeaponRight = Right
SwitchWeaponLeft = Left
SwitchHotbarItem = Down
SwitchSpell = Up

WieldTwoHanded = KeyV

OpenInventory = Tab
UIConfirm = KeyE
UIBack = KeyQ
UIClose = Esc
