Left = KeyA
Right = KeyD
Forward = KeyW
Back = KeyS

Jump = [Space, ScrollUp]
Sprint = LeftShift
Crouch = KeyC
Walk = LeftAlt
Dodge = LeftShift

Use = KeyF
Interact = KeyE
Drop = KeyG

Action0 = [M1, KeyU]
Action1 = [M2, KeyO]

ActionModifier = LeftCtrl

SwitchWeaponRight = Key1
SwitchWeaponLeft = Key2
SwitchHotbarItem = Key3
SwitchSpell = Key4

WieldTwoHanded = KeyV

OpenInventory = Tab
UIBack = KeyQ
UIClose = Esc
