Left = [ A, GamepadLeft ]
Right = [ D, GamepadRight ]
Up = [ W, GamepadUp ]
Down = [ S, GamepadDown ]
Interact = [ E, GamepadX ]
Jump = [ Space, GamepadA ]
Attack = [ M1, GamepadBumperR ]
Attack2 = [ M2, GamepadBumperL ]
UseItem = [ F, GamepadThumbL ]
SwitchItem = [ GamepadY, ScrollDown ]
Inventory = [ Tab ]
UIConfirm = [ E ]
UIConfirm2 = [ R ]
UIBack = [ Q ]
UIQuit = [ Esc ]
UILeft = [ Left ]
UIRight = [ Right ]
UIUp = [ Up ]
UIDown = [ Down ]