Left = [Left, GamepadLeft]
Right = [Right, GamepadRight]
Up = [Up, GamepadUp]
Down = [Down, GamepadDown]
Interact = [X, GamepadX]
Jump = [C, GamepadA]
Attack = [Z, GamepadBumperR]
Attack2 = [Shift, GamepadBumperL]
UseItem = [F, GamepadThumbL]
SwitchItem = [V, GamepadY]
Inventory = Tab
UIBack = Q
UIQuit = Esc
